.cart_icon {
    vertical-align: middle;
    color: lightsalmon;
}

.cart img {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    vertical-align: middle;
}

.delete_icon {
    color: rgb(231, 38, 102);
    cursor: pointer;
}
@media (max-width: 800px){
    .cart{
        padding: 0px 5px;
    }
 }